@model UtilisateurL

<ul>
	<li>
		<span> @Html.DisplayNameFor(model => model.Nom):</span>
		@Html.DisplayFor(model => model.Nom)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.Prenom):</span>
		@Html.DisplayFor(model => model.Prenom)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.Telephone):</span>
		@Html.DisplayFor(model => model.Telephone)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.Email):</span>
		@Html.DisplayFor(model => model.Email)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.VilleUser):</span>
		@Html.DisplayFor(model => model.VilleUser)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.Adresse):</span>
		@Html.DisplayFor(model => model.Adresse)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.QuatierUser):</span>
		@Html.DisplayFor(model => model.QuatierUser)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.DateCreation):</span>
		@Html.DisplayFor(model => model.DateCreation)
	</li>
	<li>
		<span> @Html.DisplayNameFor(model => model.DateDerniereConnexion):</span>
		@Html.DisplayFor(model => model.DateDerniereConnexion)
	</li>
</ul>
