@using SiteWeb.Services.Interfaces;
@inject ICategorieJouetService _categorieJouetService
@inject IEtatJouetService _etatService
@inject IPhotoService _photoService
@inject ICommentaireService _commentaireService

@model ModelsLibrary.Models.Toys.Toy
@{
	ViewData["Title"] = "Details";
	// Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
@{
	var categories = await _categorieJouetService.GetCategorieJouets();
	var etats = await _etatService.GetEtatJouets();
	string? categoriejouet = string.Empty;
	categoriejouet = categories.Where(t => t.Id.Equals(Model.Categorie)).Select(t => t.Nom).FirstOrDefault();
	string? etatjouet = string.Empty;
	etatjouet = etats.Where(t => t.Id.Equals(Model.Categorie)).Select(t => t.Nom).FirstOrDefault();
	List<PhotoL>? listPhotos = null;
	listPhotos = await _photoService.GetPhotoByIdJouet(Model.Id);

	List<CommentaireL>? listCommentaires = null;
	listCommentaires = await _commentaireService.GetCommentaireByIdJouet(Model.Id);

}
<div class="container margin_30">
	<div class="row">
		<div class="col-md-6">
			<div class="all">
				<div class="slider">
					<div class="owl-carousel owl-theme main">
						@if (listPhotos is not null)
						{
							@foreach (var photo in listPhotos)
							{
								<div style="background-image: url(@photo.UrlP.Replace("\\","/"));" class="item-box"></div>
							}
						}

					</div>
					<div class="left nonl"><i class="ti-angle-left"></i></div>
					<div class="right"><i class="ti-angle-right"></i></div>
				</div>
				<div class="slider-two">
					<div class="owl-carousel owl-theme thumbs">

						@if (listPhotos is not null)
						{
							int count = 0;
							@foreach (var photo in listPhotos)
							{
								if (count == 0)
								{

									<div style="background-image: url(@photo.UrlP.Replace("\\","/"))" class="item active"></div>
								}
								<div style="background-image: url(@photo.UrlP.Replace("\\","/"))" class="item"></div>
							}
						}
					</div>
					<div class="left-t nonl-t"></div>
					<div class="right-t"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">

			<div class="prod_info">
				<h1>@Model.Nom</h1>

				<p>
					<strong>Age min: @Model.AgeMin</strong><br>
					<strong>Age Max: @Model.AgeMax</strong><br>
					<strong>Etat du jouet: @etatjouet</strong><br>
					<strong>Categorie du jouet:  @categoriejouet</strong><br>
					<strong>Description: </strong>
					@Model.Descriptions
				</p>

				<div class="price_main"> <span class="new_price">@Model.Prix.ToString().Split(",0")[0] Fcfa</span></div>
				<br>

				<div class="row">
					@if (Model.AcceptAchat)
					{
						<div class="col-lg-5 col-md-6">
							<a href="#0" class="btn_1">Acheter</a>
						</div>
					}
					@if (Model.AcceptAchat)
					{
						<div class="col-lg-4 col-md-6">
							<div class="btn_add_to_cart"><a href="#0" class="btn_1">Echanger</a></div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container margin_60_35">
	<div class="row justify-content-center">
		<div class="col-lg-8">

			<h3 class="justify-content-center"> Commentaires </h3>
			<div class="card-body">
				@if (listCommentaires is not null)
				{
					@foreach (var commentaire in listCommentaires)
					{
						<div class="review_content">
							<div class="clearfix add_bottom_10">
								<em>@commentaire.DateC</em>
							</div>
							<h4>"@commentaire.IdAuteur"</h4>
							<p>@commentaire.Contenu</p>
						</div>
					}
				}
			</div>
		</div>
	</div>
</div>
@if (User.Identity.IsAuthenticated)
{
	<div class="container margin_60_35">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="write_review">
					<h3>Ecrivez votre commentaire</h3>
					<form method="post" asp-controller="Commentaires" asp-action="Create">

						<div class="form-group">
							<label>Commantaire</label>
							<textarea name="commentaire" class="form-control" style="height: 180px;" placeholder="votre commentaire par rapport a ce jouet"></textarea>
						</div>
						<button type="submit" class="btn_1">Commenter</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}
@section Scripts{
	<script src="~/AllaiaEcommerce/js/carousel_with_thumbs.js"></script>

}
