@using SiteWeb.Services.Interfaces;
@using ModelsLibrary.Models.Commentaires;
@inject ICategorieJouetService _categorieJouetService
@inject IEtatJouetService _etatService
@inject IPhotoService _photoService
@inject ICommentaireService _commentaireService

@model ModelsLibrary.Models.Toys.Toy
@{
	ViewData["Title"] = "Details";
	// Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
@{
	var categories = await _categorieJouetService.GetCategorieJouets();
	var etats = await _etatService.GetEtatJouets();
	string? categoriejouet = string.Empty;
	categoriejouet = categories.Where(t => t.Id.Equals(Model.Categorie)).Select(t => t.Nom).FirstOrDefault();
	string? etatjouet = string.Empty;
	etatjouet = etats.Where(t => t.Id.Equals(Model.Categorie)).Select(t => t.Nom).FirstOrDefault();
	List<PhotoL>? listPhotos = null;
	listPhotos = await _photoService.GetPhotoByIdJouet(Model.Id);

	List<CommentaireL>? listCommentaires = null;
	listCommentaires = await _commentaireService.GetCommentaireByIdJouet(Model.Id);

}
<div class="container margin_30">
	<div class="row">
		<div class="col-md-6">
			<div class="all">
				<div class="slider">
					<div class="owl-carousel owl-theme main">
						@if (listPhotos is not null)
						{
							@foreach (var photo in listPhotos)
							{
								<div style="background-image: url(@photo.UrlP.Replace("\\","/"));" class="item-box"></div>
							}
						}

					</div>
					<div class="left nonl"><i class="ti-angle-left"></i></div>
					<div class="right"><i class="ti-angle-right"></i></div>
				</div>
				<div class="slider-two">
					<div class="owl-carousel owl-theme thumbs">

						@if (listPhotos is not null)
						{
							bool isFirst = true;
							@foreach (var photo in listPhotos)
							{
								if (isFirst)
								{
									isFirst = false;
									<div style="background-image: url(@photo.UrlP.Replace("\\","/"))" class="item active"></div>
								}
								<div style="background-image: url(@photo.UrlP.Replace("\\","/"))" class="item"></div>
							}
						}
					</div>
					<div class="left-t nonl-t"></div>
					<div class="right-t"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">

			<div class="prod_info">
				<h1>@Model.Nom</h1>

				<p>
					<strong>Age min: @Model.AgeMin</strong><br>
					<strong>Age Max: @Model.AgeMax</strong><br>
					<strong>Etat du jouet: @etatjouet</strong><br>
					<strong>Categorie du jouet:  @categoriejouet</strong><br>
					<strong>Description: </strong>
					@Model.Descriptions
				</p>

				<div class="price_main"> <span class="new_price">@Model.Prix.ToString().Split(",0")[0] Fcfa</span></div>
				<br>

				<div class="row">
					@if (Model.AcceptAchat)
					{
						<div class="col-lg-5 col-md-6">
							<a href="#0" class="btn_1">Acheter</a>
						</div>
					}
					@if (Model.AcceptAchat)
					{
						<div class="col-lg-4 col-md-6">
							<div class="btn_add_to_cart"><a href="#0" class="btn_1">Echanger</a></div>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
@{
	ModelPatialCommentaire modelPatialCommentaire = new ModelPatialCommentaire()
			{
				Id = Model.Id,
				TypeCommantaire = "jouet",
				listCommentaires = listCommentaires
			};

	<partial name="_Commentaires" model="modelPatialCommentaire" />

}
@section Scripts{
	<script src="~/AllaiaEcommerce/js/carousel_with_thumbs.js"></script>
	<script src="~/js/site.js"> </script>
}

