@using ModelsLibrary.Models.Annonces;
@model AnnoncesGridModel

<div class="row row_item">
	<div class="col-sm-4">
		<figure>
			<a href="product-detail-1.html">
				@if (Model.Photo is null)
				{
					<img class="img-fluid lazy" src="/AllaiaEcommerce/img/products/product_placeholder_square_medium.jpg" data-src="img/products/shoes/6.jpg" alt="">
				}
				else
				{
					<img class="img-fluid lazy" src="@Model.Photo.UrlP" alt="@Model.Photo.NomPhoto">
				}
			</a>
		</figure>
	</div>
	<div class="col-sm-8">
		<p>@Model.DateAnnonce</p>
		<div class="price_box">
			<span class="new_price">
				<a asp-route-id="@Model.IdUtilisateur" asp-controller="Utilisateurs" asp-action="Profil"> 
					@Model.utilisateur.Nom @Model.utilisateur.Prenom
				</a>
			</span>
		</div>
		<a href="product-detail-1.html">
			<h3>@Model.Titre</h3>
		</a>
		<p>@Model.DescriptionAnnonce</p>

		<ul>
			<li><a href="#0" class="btn_1">Contacter l'annonceur</a></li>
			<li><a href="#0" class="btn_1">Commenter</a></li>
		</ul>
	</div>
</div>