@using ModelsLibrary.Models.Annonces;
@model AnnoncesGridModel

<div class="row row_item">
	<div class="col-sm-4">
		<figure>
			<a asp-action="Details" asp-controller="Annonces" asp-route-id="@Model.Id">
				@if (Model.Photo is null)
				{
					<img class="img-fluid lazy" src="/AllaiaEcommerce/img/products/product_placeholder_square_medium.jpg" data-src="img/products/shoes/6.jpg" alt="">
				}
				else
				{
					<img class="img-fluid lazy" src="@Model.Photo.UrlP" alt="@Model.Photo.NomPhoto">
				}
			</a>
		</figure>
	</div>
	<div class="col-sm-8">
		<ul> 
			<li>
		<div  class="d-inline-block mb-2 text-primary">
				<a asp-route-id="@Model.IdUtilisateur" asp-controller="Utilisateurs" asp-action="Profil">
					@Model.utilisateur.Nom @Model.utilisateur.Prenom
				</a>
		</div>
			</li>
			<li>@Model.DateAnnonce</li>

		</ul>
		<a asp-action="Details" asp-controller="Annonces" asp-route-id="@Model.Id">
			<h3>@Model.Titre</h3>
		</a>
        <p>
			@{
				if (Model.DescriptionAnnonce.Length > 238)
				{
					@Model.DescriptionAnnonce.Substring(0, 237);

					<a asp-action="Details" asp-controller="Annonces" asp-route-id="@Model.Id" class="stretched-link text-primary"> ...voir plus</a>
				}
				else
				{
					 @Model.DescriptionAnnonce;
				}
			}
                </p>
		

		<ul>
			<li>
				<a class="btn_1" asp-route-id="@Model.IdUtilisateur" asp-controller="Utilisateurs" asp-action="Profil">
					Contacter
				</a>
			</li>
			<li>
				<a class="btn_1" asp-action="Details" asp-controller="Annonces" asp-route-id="@Model.Id">

					Commenter
				</a>
			</li>
		</ul>
	</div>
</div>

