@using ModelsLibrary.Models.Commentaires
@using SiteWeb.Services.Interfaces;
@model ModelPatialCommentaire
@inject IUtilisateurService _utilisateurService

<div class="container margin_60_35">
	<div class="row justify-content-center">
		<div class="col-lg-8">
			<div id="comments">
				<h5>Commentaires</h5>
				<ul class="commatireliste">
					

						@if (Model.listCommentaires is not null)
						{
							@foreach (var commentaire in Model.listCommentaires)
							{
								var user = await _utilisateurService.GetUtilisateur((int)commentaire.IdAuteur);
							<li>
								<div class="avatar">
									 <a asp-action="Profil" asp-controller="Utilisateurs" asp-route-id="@commentaire.IdAuteur">
										<img src="/AllaiaEcommerce/img/avatar1.jpg" alt="">
									</a>
								</div>
								<div class="comment_right clearfix">
									<div class="comment_info">
										Par <a asp-action="Profil" asp-controller="Utilisateurs" asp-route-id="@commentaire.IdAuteur">@user.Nom @user.Prenom</a><span>|</span>@commentaire.DateC<span>|</span><a href="#"><i class="icon-reply"></i></a>
									</div>
									<p>
										@commentaire.Contenu
									</p>
                                </div>
                            </li>
							}
						}
				</ul>
			</div>
			
		</div>
	</div>
</div>
@if (User.Identity.IsAuthenticated)
{
	<div class="container margin_60_35">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="write_review">
					<h3>Ecrivez votre commentaire</h3>
					<form id="comment-form" method="post" asp-action="Create" asp-controller="Commentaires">

						<div class="form-group">
							<label>Commantaire</label>
							<textarea name="commentaire" class="form-control" style="height: 180px;" placeholder="votre commentaire"></textarea>
						</div>
						@Html.HiddenFor(model => model.Id)
						@Html.HiddenFor(model => model.TypeCommantaire)

						<button type="submit" class="btn_1">Commenter</button>
					</form>
				</div>
			</div>
		</div>
	</div>
}

